.dark-blue{
    background-color: #2c3440;
}
ul li{
    list-style: none;
}
.green{
    background-color: #1abc9c;
}
.green-link{
    color: #5a9c85;
}
.blue{
    background-color: #46546a;
}
img{
    width: 100%;
}
.button{
    border: 1px solid white;
    border-radius: 5%;
    color: white;
    width: 150px;
}
.white-svg{
    fill: white;
}